@import "../../../variables.scss";

.create-org-workspace {
  min-height: 100vh;
  background-color: #f0f2f5;

  .create-wrapper {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    .header {
      .user-name {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
      }
      .title {
        text-align: center;
        margin: 10px 0;
        font-size: 18px;
        color: $lt-font-color;
      }
      .desc {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        color: $lt-font-dull-color;
      }
    }

    .form-container {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      min-height: 300px;
    }
  }
}
